@charset "UTF-8";
/* CSS Document */

body, body {
	border: 0 none;
    height: 600px;
    margin: 0 auto;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    width: 320px;
}

@import 'fonts';

/* === Start Frame === */

#startFrame {

    background-size: 100% auto;
    border: 1px solid black;
    height: 50px;
    left: 0;
    position: absolute;
    top: 428px;
    width: 318px;
    z-index: 1000;

}

.skyLogoSmall {

    background-image: url("skyLogoSmall.png");
    height: 35px;
    left: 246px;
    position: absolute;
    top: 8px;
    width: 44px;
    z-index: 1;

}

.frameOne {

    background-image: url("FTR.png");
    width:317px;
    height:50px;
    position:absolute;
    top:0px;
    left:0px;
}

.frameTwo {

    background-image: url("TTP.png");
    width:317px;
    height:50px;
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;

}

/* === End Frame === */ 

#endFrame {
    background-image: url("320x600_end.jpg");
    background-size: 100% auto;
    border: 1px solid black;
    height: 478px;
    left: 320px;
    position: absolute;
    top: 0;
    width: 318px;
    z-index: 101;
}

.findOutMore {
    height: 27px;
    left: 83px;
    position: absolute;
    top: 300px;
    width: 152px;
}

.playAgain {
    height: 27px;
    left: 82px;
    position: absolute;
    top: 331px;
    width: 153px;
}

.spinWheel {
    background-image: url("spinWheel.gif");
    background-size: 100% auto;
    height: 12px;
    left: 154px;
    position: relative;
    top: 231px;
    width: 12px;
}

.text1 {

     background-image: url("endFrame_text1.png");
    background-size: 100% auto;
    height: 143px;
    left: 68px;
    opacity: 0;
    position: absolute;
    top: 40px;
    width: 175px;

}

.text2 {

     background-image: url("endFrame_text2.png");
    background-size: 100% auto;
    height: 70px;
    left: 50px;
    opacity: 0;
    position: absolute;
    top: 70px;
    width: 218px;
}

/* === Time Out Frame === */

#timeoutFrame {
    position: absolute;
    width: 320px;
    height: 600px;
    top: 0px;
    left: 320px;
    background-image: url("timeoutFrame.jpg");
    background-size: 100%;
    z-index: 101;
    top:0px;
    border:1px solid black;
}

/* === Game Frame === */

#preloadAssets {
    display:none;
}

.closeBtn {
    background-image: url("close.png");
    height: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    z-index: 99999;
    opacity: 0;
}


.loaderGif {
	background-image: url("ajax-loader.gif");
    height: 32px;
    width: 32px;
}

.mainBorder {

	width:318px;
    height:479px;
	border: 1px solid #000;
	position:absolute;
	top:0px;
}

/* Div layer for the entire expanded. */
#container_dc {

	position: relative;
	width: 320px;
	height: 480px;
	margin: 0 auto;
	display:none;
	overflow: hidden;
	top:0px;
}

#content_dc {
    background-image: url("320x600.jpg");
    background-position: 0 0;
    background-size: 100% auto;
    border: 1px solid #000;
    height: 478px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 318px;
    z-index: 100;
}

/* Invisible button for background clickthrough. */
#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	z-index: 300;
}

.hitArea{
    background-color: blue;
    height: 300px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 180px;
    width: 320px;
    z-index: 3;
}

.plusOne {
    font-family: 'sky_textbold';
    font-size: 15pt;
    height: 10px;
    left: 140px;
    position: absolute;
    top: 350px;
    width: 10px;
    opacity:0;
}

.instructions {
    background-image: url("instructions.png");
    background-size: 100% auto;
    height: 210px;
    left: 25px;
    position: absolute;
    top: 74px;
    width: 270px;
    opacity:0;
    z-index: 4;
}


#paper0,#paper1,#paper2, #paper3, #paper4 {
    
    height: 60px;
    left: 140px;
    position: absolute;
    top: 420px;
    width: 55px;
    z-index:2;
    opacity:0;
}

.skyLogo {
    background-image: url("skyLogo.png");
    width:67px;
    height:53px;
    background-size: 100%;
    position:absolute;
    left:128px;
    top:10px;
}

.timeUp {
    background-image: url("timesUpText.png");
    background-size: 100% auto;
    height: 129px;
    left: 40px;
    opacity: 0;
    position: absolute;
    top: 110px;   
    width: 252px;
    span {
        color: #e31c36;
        font-family: 'sky_textbold';
        font-size: 27pt;
        left: 50%;
        margin-left: -20px;
        position: relative;
        top: 78px;
        width: 10px;
    }
}

.ballShadow0, .ballShadow1, .ballShadow2, .ballShadow3{

    background: url("ballShadow.png") no-repeat scroll 0 0 / 100% auto transparent;
    height: 100px;
    left: 141px;
    position: absolute;
    top: 446px;
    width: 50px;

}

.ballShadow1, .ballShadow2, .ballShadow3 {
    opacity:0;
}


#paper0 {
	background: url("paper0.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    opacity:0;
}

#paper1 {
    background: url("paper1.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    opacity:0;
}

#paper2 {
    background: url("paper2.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    opacity:0;
}

#paper3 {
    background: url("paper3.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    opacity:0;
}

.message0, .message1, .message2, .message3,.message4,.message5 {
    opacity:0;
} 

.message0 {
    background-image: url("message0.png");
    background-size: 100% auto;
    height: 50px;
    left: 50px;
    position: absolute;
    top: 75px;
    width: 225px;
}

.message1 {
    background-image: url("message1.png");
    background-size: 100% auto;
    height: 50px;
    left: 50px;
    position: absolute;
    top: 75px;
    width: 225px;
}
.message2 {
    background-image: url("message2.png");
    background-size: 100% auto;
    height: 50px;
    left: 50px;
    position: absolute;
    top: 75px;
    width: 225px;
}
.message3 {
    background-image: url("message3.png");
    background-size: 100% auto;
    height: 50px;
    left: 50px;
    position: absolute;
    top: 75px;
    width: 225px;
}
.message4 {
    background-image: url("message4.png");
    background-size: 100% auto;
    height: 50px;
    left: 50px;
    position: absolute;
    top: 75px;
    width: 225px;
}
.message5 {
    background-image: url("message5.png");
    background-size: 100% auto;
    height: 50px;
    left: 50px;
    position: absolute;
    top: 75px;
    width: 225px;
}

#binContainer {

    height: 90px;
    left: -100px;
    position: absolute;
    top: 320px;
    width: 60px;

}
#bin  {
    background: url("bin.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    height: 68px;
    position: relative;
    width: 62px;
    z-index:1;
}

#binTop {
    background: url("binTop.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    height: 18px;
    top:14px;
    position: relative;
    width: 62px;
    z-index:1;

}

#binRectLeft {
    XXbackground-color: red;
    height: 5px;
    left: 1px;
    position: absolute;
    top: 23px;
    width: 1px;

}

#binRectRight {

    background-color: green;
    height: 5px;
    left: 54px;
    position: absolute;
    top: 23px;
    width: 1px;

}

#scoreHolder {

    background-size: 100% auto;
    height: 78px;
    left: 21px;
    position: absolute;
    top: -8px;
    width: 280px;

}

.lozTimer {
    background-image: url("loz.png");
    background-size: 100% auto;
    height: 60px;
    left: -4px;
    position: absolute;
    top: 19px;
    width: 89px;
}

.lozScore {
    background-image: url("loz.png");
    background-size: 100% auto;
    height: 60px;
    left: 194px;
    position: absolute;
    top: 19px;
    width: 89px;

}

#score{

    color: #515151;
    font-size: 9pt;
    height: 70px;
    left: 10px;
    position: absolute;
    top: 3px;
    width: 59px;

    p {
        font-family: 'sky_textbold';
        width:100px;
        height:20px;
        position:relative;
        margin:10px;
        padding:0px;
        top:0px;
        span {
           font-family: 'sky_textmedium';
           font-size: 32pt;
           left: -5px;
           position: relative;
           top: -3px;
        }
    }
}

#timer {

    color: #e52a23;
    font-size: 9pt;
    height: 80px;
    left: 98px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 140px;

    p {
        font-family: 'sky_textbold';
        width:100px;
        height:20px;
        position:relative;
        margin:10px;
        padding:0px;
        top:0px;
        left:80px;
        span {
            font-family: 'sky_textmedium';
            font-size: 32pt;
            left: 2px;
            position: relative;
            top: -3px;
        }
    }
}

/*#direction {

	background: -moz-linear-gradient(left, #ff0000 0%, #ff0000 27%, #ffee00 44%, #00ff19 52%, #ffee00 60%, #ff0000 77%, #ff0000 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(27%,#ff0000), color-stop(44%,#ffee00), color-stop(52%,#00ff19), color-stop(60%,#ffee00), color-stop(77%,#ff0000), color-stop(100%,#ff0000)); 
	background: -webkit-linear-gradient(left, #ff0000 0%,#ff0000 27%,#ffee00 44%,#00ff19 52%,#ffee00 60%,#ff0000 77%,#ff0000 100%); 
	background: -o-linear-gradient(left, #ff0000 0%,#ff0000 27%,#ffee00 44%,#00ff19 52%,#ffee00 60%,#ff0000 77%,#ff0000 100%); 
	background: -ms-linear-gradient(left, #ff0000 0%,#ff0000 27%,#ffee00 44%,#00ff19 52%,#ffee00 60%,#ff0000 77%,#ff0000 100%); 
	background: linear-gradient(to right, #ff0000 0%,#ff0000 27%,#ffee00 44%,#00ff19 52%,#ffee00 60%,#ff0000 77%,#ff0000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=1 ); 
    height: 13px;
    left: 5px;
    position: absolute;
    top: 480px;
    width: 150px;
    border:1px solid black;
}

#direction  {

    .directionScrubber {
    	background-color: black;
        height: 13px;
        position: relative;
        top: 0;
        width: 3px;
    }
}*/

:focus {outline:none;}
::-moz-focus-inner {border:0;}

